#serverIndex button {
    width: 125px;
    height: auto;

}

#serverIndex {
    width: 72px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 34, 37);
    color: #b9b9b9;
    font-family: "ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif; 
    padding-top: 12px;
}

