#chat {
    position: fixed;
    top: 49px;
    left: 312px;
    width: calc(100% - 312px);
    height: calc(100% - 49px);
}

#chat-messages-container {
    height: calc(100% - 68px);
    overflow-y: scroll;
}

#chat-input-container {
    height: 68px;
    display: flex;
    align-items: center;
}

#chat-input-container form {
    display: flex;
    flex-direction: row;
}

#chat-input-container form input {
    width: 95%;
}
