#chat-box {
    left: 312px;
    top: 48px;
    height: calc(100% - 116px);
}

#input-container {
    height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#input-container input {
    width: 95%;
    padding: 0px;
}