#me-left-bar-container {
    background-color: #303136;
    width: 240px;
    position: fixed;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 72px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#me-left-bar-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    height: 48px;
    width: 100%;
}
#me-left-bar-search-container input {
    height: 28px;
    width: 220px;
    padding: 0;
}

.chat-index-item {
    height: 42px;
    color: #babbbe;
    text-decoration: none;
    font-style: none;
}

.chat-index-item a {
    text-decoration: none;
    color: #babbbe;
}
