body {
    background-image: url(../../../public/assets/login_page_background_edited.png) ;
    background-size: cover;
}

#loginContainer {
    display: flex;
    flex-direction: row;
    background-color: #37393f;
    width: 784px;
    padding: 32px;
    font-size: 18px;
    border-radius: 5px;
    height: 408px;
    margin: auto;
    color: #b9b9b9;
    justify-content: space-between;
    font-family: "ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 10%;
}

#welcomeText {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, h3 {
    margin: 0;
}

h3 {
    font-weight: 300;
    color: #b9b9b9;
    font-size: small
}

#loginBox label {
    text-transform: uppercase;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

form {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-around;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px
}

input {
    background-color: #202225;
    border-radius: 3px;
    border: none;
    color: #b9b9b9;
    height: 40px;
    outline: none;
    padding: 2px 16px;
    margin-top: 10px;
}

button {
    background-color: #5965f2;
    border: none;
    border-radius: 3px;
    width: 100%;
    color: #ffffff;
    height: 44px;
    font-weight: 700;
    font-size: medium;
    margin-top: 15px;
    margin-bottom: 1px;
}

button:hover {
    cursor: pointer;
    background-color: #4752c4;
}


#barcodeDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* padding-right: 50px; */

}

#qrText {
    width: 70%;
    text-align: center;
    color: #ffffff;
}

#qrText h3 b {
    font-weight: 600;
}

#loginBox {
    width: 75%;
}

#registrationDiv {
    font-size: small;
}

#registrationDiv a {
    color: #02abee;
    text-decoration: none;
}



#registrationDiv a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#barcode {
    background-image: url(../../../public/assets/barcode.png);
    background-size:  176px 176px;
    height: 176px;
    width: 176px;
}

.spacer {
    width: 10%;
}