.hashTag {
    height: 24px;
    width: 24px;
}

.channelListItem {
    display: flex;
    width: 215.5px;
    height: 32px;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    margin: 8px;
    color: #96989d;
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

.channelListItem:hover {
    background-color: #42464d;
    cursor: pointer;
}

.mainChannelContent {
    display: flex;
    align-items: center;
    justify-content: left;
}

.channelName {
    line-height: 20px;
    width: 164.5px;
    height: 20px;
    margin-left: 3px;
}

#channels {
    display: flex;
    flex-direction: column;
}


.createInvite svg {
    height: 13px;
    width: 16px;
}

svg.plus {
    height: 15px;
    width: 15px;
}

.options {
    display: flex;
}