.message {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 17px;
    color: #fff;
    width: 90%;
}

.message:hover {
    background-color: #33353a;
}

.message-container:hover {
    background-color: #33353a;
}

.message-left {
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-right {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.message-top {
    font-weight: 700;
}

.message-bottom {
    color: rgb(225, 225, 225);
}



.message-menus {
    position: relative;
    /* height: 32px; */
    margin: 0px;
    width: 64px;
    background-color: #37393f;
    left: 90%;
    /* right: 10%; */
    display: none;
    top: -60px;
    border-radius: 4px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.message-container {
    height: 45px;

}

.message-container:hover .message-menus { 
    display: flex;
}

.message-menus div {
    width: 32px;
}

.message-menus div:hover {
    background-color: #3d3f46;
}

.hidden {
    display: none;
}

.message-edit-form input {
    height: 85%;
}

.message-edit-form a {
    color: #14a2e3;
}

.message-edit-form a:hover {
    cursor: pointer;
}

.message-edited-tag {
    font-size: small;
    color: rgba(225, 225, 225, 0.5)
}