.message {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 17px;
    color: #fff;
}

.message-left {
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-right {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.message-top {
    font-weight: 700;
}

.message-bottom {
    color: rgb(225, 225, 225);
}
