.selected {
    color: #fff;
    background-color: #444951;
}


.friends-list-index-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #43454d;
    margin: 0px 20px 0px 30px;
    padding: 0px 6px;
    height: 61px;
    align-items: center;
    border-radius: 4px;
    color: #fff;
}

.friends-list-index-item .icon-group {
    display: flex;
    flex-direction: row;
    width: 82px;
    justify-content: space-between;
}

.friends-list-index-item .icon {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303136;
}

.friends-list-index-item:hover {
    background-color: #41444b;
    cursor: pointer;
}

.friends-list-index-item:hover .icon {
    background-color: #1f2225;
    fill: #b9bbbe;
}

#direct-messages-header {
    color: #ffff;
}

#friends-list-options div {
    color: #babbbe;
    padding: 2px 8px;
    border-radius: 4px;
}

#friends-list-options div:hover {
    background-color: #444951;
    cursor: pointer;
}

.selected:hover {
    background-color: #40444b;
    cursor: default;
}

.friend-request-list-item .left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friend-request-list-item {
    margin-left: 30px;
    margin-right: 20px;
    border-top: 1px solid #43454d;
    height: 61px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 


.friend-request-list-item .request-content {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.friend-request-list-item .request-description {
    color: rgb(188, 188, 188);
    font-weight: 400;
}


.request-button {
    fill: #b9bbbe;
    background-color: #2f3136;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}


.cancel-request-button:hover {
    fill: red;
    cursor: pointer;
}

.accept-request-button:hover {
    fill: green;
    cursor: pointer;
}

.friend-request-list-item .right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
