/* TODO Add site wide styles */


.errorMessage {
    color: rgb(243, 134, 136);
    font-size: 12px;
    font-style: italic;
    text-transform: none;
}

.errorFieldName { 
    color: rgb(243, 134, 136);
}