#editServerForm {
    background-color: #373737;
    width: 600px;
    margin: auto;
    color: #b9b9b9;
    padding: 8px;
    border-radius: 5px;
    font-family: "ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif; 
    margin-top: 200px;

}